<html>

  <head>

    <title>Kuora</title>

  </head>

  <body>

    <h1>Kuora</h1>

    <h3>Hello <%= @name %></h3>
		  <form action='/' method='post'>
		    First name:<br>
		    <input type="text" name="name" value=""><br>
		    <input type="submit" value="Submit">
		  </form>

  </body>

</html>

