<h1> sign in page <h1>

<form action="/sign_in" method="post">
	email: <input type="text" name="email"><br>
	password: <input type="password" name="password"><br>
    <input type="submit" name="submit">
</form>