<h1> sign up page <h1>

<form action="/sign_up" method="post">
	name: <input type="text" name="name"><br>
	email: <input type="text" name="email"><br>
	password: <input type="password" name="password"><br>
    <input type="submit" name="sign in">
</form>