<h3> All Questions </h3> 
<form action="/logout" method="post">
	<input type="submit" value="logout">
</form>
<ul>
      <% @questions.each do |question| %>

	  <li> 

	  	<a href= <%= '/questions/' + question.id.to_s %> >
	  <%= question.the_question %></a>
	  </li>

	  <% end %>
</ul>